# Django settings
DJANGO_SECRET_KEY=your_secret_key_here
DJANGO_ALLOWED_HOSTS=your_domain.com,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=https://your_domain.com
DJANGO_DEBUG=False

# Superuser settings
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=your_superuser_password

# Database settings
DATABASE_URL=postgres://exam_user:exam_pass@db:5432/exam_db

# Google OAuth2 settings
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_SECRET_KEY=your_google_secret_key

# Nginx and site settings
SERVER_NAME=your_domain.com
SITE_DOMAIN=your_domain.com
SITE_URL=https://your_domain.com
ADMIN_URL=your_admin_url
