<canvas id="groupAverageScoreChart"></canvas>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const ctx = document.getElementById('groupAverageScoreChart').getContext('2d');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels|safe }},
                datasets: [{
                    label: 'Средний балл по группам (%)',
                    data: {{ data|safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.7)',
                }]
            },
            options: {
                responsive: true,
                indexAxis: 'y',
                plugins: {
                    legend: {
                        display: false,
                    },
                },
                scales: {
                    x: {
                        beginAtZero: true,
                        max: 100
                    }
                }
            }
        });
    });
</script>
